@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.png");
    background-size: cover;

    width: 100%;
    min-height: 505px;
}

.header-content {
    color: #fff;
    margin: 0 25px;
    width: 100%;      
    max-width: 430px; 
    padding: 0 25px;  
    text-align: left; 
    align-self: center; 
}

header h1 {
    width: 278px;
    min-width: 278px;
    max-width: 278px;
    font-weight: 400;
    font-family: "Luckiest Guy", cursive;
    font-size: 32px;
    text-transform: uppercase;
}

header h2 {
    font-family: "Open Sans", cursive;
    font-weight: 400;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 30px;
}

button {
    font-family: "Open Sans", cursive;
    font-size: 16px;
    font-weight: 400;
    width: 381px;
    max-width: 381px;
    height: 54px;
    border-radius: 28px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: inherit;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-windows {
    background-color: #fff;
    color: #000;
    gap: 5px;
}

.discord-page {
    background-color: #23272A;
    color: #fff;
}

.content-container {
    font-family: "Open Sans", cursive;
    width: 100%;
    align-items: center;
}

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
}

.feature-section:nth-child(even) {
    background-color: #f6f6f6;
}

.feature-section h1 {
    font-size: 24px;
    font-weight: 800;
    max-width: 370px;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
}

#reliable-connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
    background-color: #f6f6f6;
}

#reliable-connection h1 {
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Luckiest Guy", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #000;
}

#reliable-connection h2 {
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans", cursive;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.feature-section h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.feature-section img {
    max-width: 100%;       
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
}

footer {
    background-color: #23272A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}


/* --- Telas maiores que 1280px (Monitores UltraWide / Desktops Grandes) --- */
@media (min-width: 1280px) {
    header {
        background-image: url("../images/computer/background1.png");
        height: auto;
        padding: 80px 0;
    }

    .button-container {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .header-content {
    
        max-width: 900px; 
        margin: 0 auto;    
        text-align: center; 
        padding-left: 0;  
        padding-right: 0;
        display: flex;  
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 20px auto; 
        text-align: center;
        font-size: 56px;
        min-width: 0;
    }

    header h2 {
        width: 100%;       
        max-width: 800px;   
        margin: 20px auto; 
        text-align: center;
        font-size: 16px;
    }

    .download-windows {
        width: 205px;
        height: 44px;
    }

    .discord-page {
        width: 281px;
        height: 44px;
    }

   .feature-section {
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding: 100px 10%;
    }
    
    .feature-section:nth-child(even) {
        flex-direction: row-reverse;
    }

   .text-content {
        max-width: 450px;
        text-align: left;
        display: flex;
        flex-direction: column;
   }

   #reliable-connection {
        flex-direction: column; 
        text-align: center;  
        padding: 100px 20px;
        background-color: #f6f6f6;
        width: 100%;
    }

    #reliable-connection h1 {
        font-family: "Luckiest Guy", cursive;
        font-size: 40px;
        font-weight: 400;
    }

    #reliable-connection h2 {
        font-family: "Open Sans", cursive;
        font-size: 16px;
        font-weight: 400;
    }

    #reliable-connection img {
        max-width: 1180px;   
        width: 100%;
        margin-top: 40px;
    }

    .feature-section h1 {
        font-size: 40px;
        font-weight: 800;
        max-width: 329px;
        margin-bottom: 20px;
        width: 100%;
    }

    .feature-section h2 {
        font-size: 16px;
        font-weight: 400;
        max-width: 100%; 
    }

    .feature-section img {
        width: 607px;
        height: auto;
    }

    .feature-section#reliable-connection {
        flex-direction: column; 
        text-align: center;
        padding: 80px 20px;
        background-color: #f6f6f6; 
    }

    #reliable-connection h1 {
        max-width: 800px;
        margin: 0 auto 20px auto;
        font-size: 45px;
    }

    #reliable-connection h2 {
        max-width: 900px;
        margin: 0 auto 40px auto;
    }

    #reliable-connection img {
        max-width: 100%;
        width: 784px;
        height: 508px;
        margin-top: 20px;
    }
}